# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: windows-latest

variables:
  Major: '1'
  Minor: '0'
  Patch: '0'

steps:
- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'AzureResources'
    KeyVaultName: 'devop-api-key-vault'
    SecretsFilter: '*'
    RunAsPreJob: false
#Found a decent tutorial for setting up secrets in devops and github
#https://samlearnsazure.blog/2020/06/17/using-secrets-safely-in-development-with-net-core/
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      $pathToJson = "Candid.GuideStarAPI.Tests/appsettings.test.json"
      $settings = Get-Content $pathToJson | ConvertFrom-Json
      $settings.Keys.CHARITY_CHECK_KEY = "$(CHARITY-CHECK-KEY)"
      $settings.Keys.CHARITY_CHECK_PDF_KEY = "$(CHARITY-CHECK-PDF-KEY)"
      $settings.Keys.ESSENTIALS_KEY = "$(ESSENTIALS-KEY)"
      $settings.Keys.PREMIER_KEY = "$(PREMIER-KEY)"
      $settings | ConvertTo-Json | set-content $pathToJson
    pwsh: true
- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
    verbosityRestore: 'Normal'
    feedsToUse: 'select'
    includeNuGetOrg: true
- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    versioningScheme: 'byPrereleaseNumber'
- task: DotNetCoreCLI@2
  displayName: 'Test'
  inputs:
    command: 'test'
    projects: '**/*.Tests.csproj'
- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: pack
    packagesToPack: '**/*.csproj;!**/*.Tests.csproj'
    versioningScheme: byPrereleaseNumber
    majorVersion: '$(Major)'
    minorVersion: '$(Minor)'
    patchVersion: '$(Patch)'
- task: NuGetCommand@2
  displayName: 'Sign Package'
  inputs:
    command: 'custom'
    arguments: 'nuget sign Candid.GuideStarAPI.nupkg -CertificatePath $(GuideStarNugetCert)'
- task: PublishSymbols@2
  displayName: 'Publis Symbols'
  inputs:
    SearchPattern: './Candid.GuideStarAPI/bin/**/*.pdb'
    SymbolServerType: 'TeamServices'
- task: DotNetCoreCLI@2
  displayName: 'Push'
  inputs:
    command: 'push'
    feedsToUse: 'config'
    includeNugetOrg: 'true'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: '6f219f31-982d-413d-a320-c7741368a80d'
- task: NuGetCommand@2
  displayName: 'push to nuget.org'
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'Nuget.org Candid packages'
